In [12]:
import pandas as pd
import networkx as nx

In [13]:
#importing twitter data
dfs_t = pd.read_excel("./twitter_dataset.xlsx", sheet_name= None, date_parser  = int)
t_post, t_user = pd.read_excel("./twitter_posts.xlsx", sheet_name= None), pd.read_excel("./twitter_users.xlsx", sheet_name= None)

#instagram twitter data
dfs_i = pd.read_excel("./instagram_dataset.xlsx", sheet_name= None, date_parser  = int)
i_post, i_user =  pd.read_excel("./instagram_posts.xlsx", sheet_name= None), pd.read_excel("./instagram_accounts.xlsx", sheet_name= None)

In [16]:
## Tracking "fathers" on Twitter
t_post['infected_by'] = None
for row in t_post.iterrows():
    id_tweet_origin = row[-1]['id_tweet_origin']
    if id_tweet_origin != 0:
        infected_by = int(t_post[t_post['id_tweet'] == id_tweet_origin]['id_user'])
        t_post.loc[index,'infected_by'] = infected_by

AttributeError: 'collections.OrderedDict' object has no attribute 'iterrows'

In [19]:
#tracking "fathers" on instragram
i_post['infected_by'] = None
for index, row in i_post.iterrows():
    id_post_origin = row['id_post_origin']
    if id_post_origin != 0:
        infected_by = int(i_post[i_post['id_post'] == id_post_origin]['id_user'])
        i_post.loc[index,'infected_by'] = infected_by

,id_user,id_tweet,date,time,half_day,location,views,likes,comments,retweets,id_tweet_origin,link_clicks,donation_tag,donation_val,house_buy,infected_by
0,9834565,18271010,2017-11-09,09:41:00,am,Montreuil,62,24,2,16,0,False,False,0,False,None

In [11]:
i_post.head(1)

,id_user,id_post,date,time,half_day,location,views,reposts,likes,comments,id_post_origin,link_clicks,donation_tag,donation_val,house_buy,infected_by
0,672702,638779430,2017-11-09,07:53,am,Avignon,2,18,0,0,0,True,False,0,False,None

In [20]:
t_post['id_post'] = t_post['id_tweet']
t_post.head(1)

,id_user,id_tweet,date,time,half_day,location,views,likes,comments,retweets,id_tweet_origin,link_clicks,donation_tag,donation_val,house_buy,infected_by,id_post
0,9834565,18271010,2017-11-09,09:41:00,am,Montreuil,62,24,2,16,0,False,False,0,False,None,18271010

In [28]:
columns = ['id_user','id_post', 'infected_by', 'date','time','half_day' ]
t_lite = t_post[columns]
#t_lite['time'] = t_lite['time'].astype('|S') 
i_lite = i_post[columns]
df = pd.concat([t_lite,i_lite], axis=0)
df['time']=df["time"].astype('|S')

In [29]:
df

,id_user,id_post,infected_by,date,time,half_day
0,9834565,18271010,None,2017-11-09,b'09:41:00',am
1,1953787,55199327,None,2017-11-09,b'08:17:00',am
2,6013435,81242015,None,2017-11-09,b'05:18:00',am
3,3027418,68398591,None,2017-11-09,b'10:03:00',am
4,6027974,94580818,None,2017-11-09,b'08:10:00',am
5,3003097,48168379,None,2017-11-09,b'02:53:00',am
6,9266081,50443972,3003097,2017-11-09,b'02:55:00',pm
7,5265603,53869774,9834565,2017-11-09,b'04:26:00',pm
8,8820586,94306511,6013435,2017-11-09,b'07:23:00',pm
9,3776734,95227566,9834565,2017-11-09,b'02:12:00',pm
10,1739224,75571293,6027974,2017-11-09,b'03:04:00',pm
11,7018816,24179887,3003097,2017-11-09,b'01:06:00',pm
12,4918010,18790221,1953787,2017-11-09,b'11:14:00',pm
13,9094938,56664793,9834565,2017-11-09,b'10:07:00',pm
14,6670174,66754199,6027974,2017-11-09,b'05:09:00',pm
15,9528700,29590318,3003097,2017-11-09,b'00:04:00',pm
16,9034442,94683746,3027418,2017-11-09,b'10:12:00',pm
17,9617826,58400721,3027418,2017-11-09,b'11:14:00',pm
18,1393450,28867560,1953787,2017-11-09,b'08:58:00',pm
19,2267169,73754419,3003097,2017-11-09,b'07:36:00',pm
20,4984956,41726302,3003097,2017-11-09,b'08:13:00',pm
21,6143749,93675897,9834565,2017-11-09,b'07:43:00',pm
22,3672938,36969380,6027974,2017-11-09,b'10:05:00',pm
23,3728065,36624600,6027974,2017-11-09,b'10:58:00',pm
24,2644523,39691532,1953787,2017-11-09,b'05:20:00',pm
25,5107681,34755024,9834565,2017-11-09,b'04:33:00',pm
26,7696107,22067787,6027974,2017-11-09,b'04:18:00',pm
27,1437408,60889102,6013435,2017-11-09,b'01:06:00',pm
28,2284684,12708972,3027418,2017-11-09,b'07:28:00',pm
29,3965644,40503168,3027418,2017-11-09,b'00:11:00',pm
...,...,...,...,...,...,...
3017,408109,408702738,621103,2017-11-16,b'05:37',am
3018,720340,236267801,741183,2017-11-16,b'00:14',am
3019,131644,869759216,627377,2017-11-16,b'12:55',am
3020,817060,821207548,878510,2017-11-16,b'04:43',am
3021,319957,992375157,530495,2017-11-16,b'08:41',am
3022,794716,855761273,697426,2017-11-16,b'01:17',am
3023,497846,185247335,589582,2017-11-16,b'09:24',am
3024,499812,618686343,624523,2017-11-16,b'02:56',am
3025,302805,286377747,432194,2017-11-16,b'05:10',am
3026,215515,944131349,229752,2017-11-16,b'06:25',am
3027,511003,184794799,885443,2017-11-16,b'04:09',am
3028,113342,136075197,650086,2017-11-16,b'09:32',am
3029,901822,254160289,339696,2017-11-16,b'01:30',am
3030,886899,647285710,849692,2017-11-16,b'11:49',am
3031,225418,608461914,431180,2017-11-16,b'10:59',am
3032,964388,983407753,368386,2017-11-16,b'06:39',am
3033,197246,413412340,807004,2017-11-16,b'03:47',am
3034,343228,618599609,865118,2017-11-16,b'00:15',am
3035,765124,171460575,610323,2017-11-16,b'03:51',am
3036,589186,828343210,945629,2017-11-16,b'04:21',am
3037,830625,268726750,151743,2017-11-16,b'08:49',am
3038,618920,261762302,402163,2017-11-16,b'09:24',am
3039,326259,726676140,855179,2017-11-16,b'01:49',am
3040,646944,522686906,612406,2017-11-16,b'02:23',am
3041,841217,464377365,881874,2017-11-16,b'10:42',am
3042,746387,121744758,291614,2017-11-16,b'00:57',am
3043,404047,794339349,239598,2017-11-16,b'08:49',am
3044,630873,628294384,552361,2017-11-16,b'09:59',am
3045,719594,358445633,946336,2017-11-16,b'02:46',am
3046,639300,225756005,293505,2017-11-16,b'06:54',am

In [30]:
df = df.sort_values(by=['date', 'half_day','time'])

In [31]:
df.head(20)

,id_user,id_post,infected_by,date,time,half_day
1,474227,953043456,None,2017-11-09,b'02:03',am
5,3003097,48168379,None,2017-11-09,b'02:53:00',am
2,587566,650889385,None,2017-11-09,b'02:57',am
2,6013435,81242015,None,2017-11-09,b'05:18:00',am
0,672702,638779430,None,2017-11-09,b'07:53',am
4,6027974,94580818,None,2017-11-09,b'08:10:00',am
1,1953787,55199327,None,2017-11-09,b'08:17:00',am
0,9834565,18271010,None,2017-11-09,b'09:41:00',am
3,3027418,68398591,None,2017-11-09,b'10:03:00',am
3,483543,144265898,None,2017-11-09,b'11:43',am
20,485673,844989061,474227,2017-11-09,b'00:01',pm
15,9528700,29590318,3003097,2017-11-09,b'00:04:00',pm
22,575965,206521432,672702,2017-11-09,b'00:10',pm
25,469342,620222338,483543,2017-11-09,b'00:10',pm
29,3965644,40503168,3027418,2017-11-09,b'00:11:00',pm
12,275395,814088954,483543,2017-11-09,b'00:50',pm
38,8793991,21817507,6027974,2017-11-09,b'00:50:00',pm
11,7018816,24179887,3003097,2017-11-09,b'01:06:00',pm
27,1437408,60889102,6013435,2017-11-09,b'01:06:00',pm
15,848006,972167608,474227,2017-11-09,b'01:21',pm